@import "../../../../assets/colors.scss";
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  thead {
    background-color: $sidebar-color;
    border-radius: 8px;
  }
  ::ng-deep th[th] {
    padding: 12px 15px;
    text-align: center;
    font-weight: 500;
  }
  ::ng-deep tr[tr] td {
    padding: 5px 15px;
    text-align: center;
    border: 0.2px solid $gray-color;
  }

  tbody {
    ::ng-deep tr[tr]:nth-of-type(even) {
      background-color: #f9f9f9;
    }

    ::ng-deep tr[tr] {
      border-bottom: 1px solid #dddddd;
      .user-info {
        margin: 0 auto;
        display: flex;
        align-items: center;

        .user-image {
          width: 50px;
          height: 45px;
          // overflow: hidden;

          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }

      .status {
        padding: 5px 10px;
        border-radius: 5px;
        color: #fff;
      }

      .status.blocked {
        background-color: $red-color;
      }

      .action-link {
        color: #3498db;
        cursor: pointer;
      }

      .action-link:hover {
        text-decoration: underline;
      }
    }
  }
}
