@import "../../../assets/colors.scss";
@import "../../../variables/styles.variables.scss";

.container {
  width: 50%;
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 130px;
      border: 0.5px solid #000;
      border-radius: $radius;
      padding: 20px;
      cursor: pointer;
      transition: ease-in 0.2s;
      h3 {
        font-size: 18px;
        font-weight: 500;
        span {
          font-size: 13px;
        }
      }

      .select-container {
        display: flex;
        gap: 10px;
        .select {
          width: 100%;
          display: flex;
          justify-content: space-around;
          gap: 10px;
          align-items: center;
          margin-top: 10px;
          font-weight: 500;
          border-radius: $radius;
          transition: ease-in-out 0.3s;
          p {
            color: #000;
          }
          button {
            width: 100%;
            padding: 10px;
            background-color: $white-color;
            border-radius: $radius;
            border: none;
            cursor: pointer;
            transition: ease-in-out 0.2s;
            &.btn-confirm {
              border: 1.5px solid $green-color;
              &:hover {
                background-color: $green-color;
              }
            }
            &.btn-cancel {
              border: 1.5px solid $red-color;
              &:hover {
                background-color: $red-color;
              }
            }
          }
        }
      }
    }
  }
}
