<app-dashboard-container
  uesrName="Helton"
  userRole="admin"
  pageTitle="Cadastrar Administrativo"
>
  <div menu-itens>
    <app-menu-itens menuName="Dashboard" routerLink="/administrative/dashboard">
      <ng-icon name="ionBarChart" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens
      menuName="Gerir Professionais"
      routerLink="/manage-professional"
    >
      <ng-icon name="ionPerson" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens menuName="Gerir Serviços" routerLink="/manage-service">
      <ng-icon name="ionDocumentAttach" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens menuName="Gerir Categorias" routerLink="/manage-category">
      <ng-icon name="ionDuplicateOutline" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens
      menuName="Listar de Marações"
      routerLink="/administative/booking/list"
    >
      <ng-icon name="matBookmarks" icon></ng-icon>
    </app-menu-itens>
  </div>
  <div main-content>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <div>
        <app-primary-input
          inputName="firstName"
          formControlName="FirstName"
          type="text"
          label="Primeiro Nome"
          placeholder="Helton"
        >
          <ng-icon name="matPermIdentity"></ng-icon>
        </app-primary-input>
        <app-primary-input
          inputName="lastName"
          formControlName="LastName"
          type="text"
          label="Último Nome"
          placeholder="Evambi"
        >
          <ng-icon name="matPermIdentity"></ng-icon>
        </app-primary-input>
      </div>
      <div>
        <app-primary-input
          inputName="email"
          formControlName="EmailAddress"
          type="email"
          label="Email"
          placeholder="heltonevambi@gmail.com"
        >
          <ng-icon name="matAlternateEmail"></ng-icon>
        </app-primary-input>
        <app-primary-input
          inputName="phone"
          formControlName="PhoneNumber"
          type="number"
          label="Telefone"
          placeholder="929419140"
        >
          <ng-icon name="matPhone"></ng-icon>
        </app-primary-input>
      </div>
      <div>
        <app-primary-input
          inputName="userName"
          formControlName="Username"
          type="text"
          label="Username"
          placeholder="helton_evambi"
        >
          <ng-icon name="ionPersonCircleSharp"></ng-icon>
        </app-primary-input>
        <app-primary-input
          inputName="idCard"
          formControlName="IdCard"
          type="text"
          label="Número do Bilhete"
          placeholder="004034LA040"
        >
          <ng-icon name="ionCard"></ng-icon>
        </app-primary-input>
      </div>
      <div>
        <app-primary-input
          inputName="password"
          formControlName="Password"
          type="password"
          label="Nova Password"
          placeholder="******"
        >
          <ng-icon name="matKey"></ng-icon>
        </app-primary-input>
        <app-primary-input
          inputName="confirmPassword"
          formControlName="ConfirmPassword"
          type="password"
          label="Confirmar Nova Password"
          placeholder="******"
        >
          <ng-icon name="matKey"></ng-icon>
        </app-primary-input>
      </div>

      <div class="btn">
        <app-button
          btn-text="Editar"
          variant="login"
          type="submit"
        ></app-button>
      </div>
    </form>
  </div>
</app-dashboard-container>
