<app-header></app-header>
<main>
  <app-services-content
    ngSkipHydration
    image="../../../assets/images/gallery2.jpg"
    title="Reforma Glamorosa"
    text="Transforme seu visual com nosso glamoroso serviço de reforma. Nossos estilistas especialistas irão realçar sua beleza natural, criando uma aparência deslumbrante e impecável. Quer você tenha uma ocasião especial ou simplesmente queira se sentir mimado, nosso serviço de reforma é perfeito para você. Sente-se e relaxe enquanto fazemos nossa mágica, deixando você confiante e bonita."
  ></app-services-content>
  <app-services-content
    ngSkipHydration
    image="../../../assets/images/gallery3.jpg"
    title="Serviços de Aprimoramento de Beleza"
    text="Melhore a sua beleza natural com nossos serviços de salão de primeira linha, desde penteados até tratamentos de pele."
  ></app-services-content>
  <app-services-content
    ngSkipHydration
    image="../../../assets/images/gallery4.jpg"
    title="Tratamentos de Spa Luxuosos"
    text="Delicie-se com uma variedade de tratamentos de spa no nosso salão de beleza em Angola. Relaxe e rejuvenesça com massagens luxuosas, tratamentos faciais e corporais adaptados às suas necessidades."
  ></app-services-content>
</main>
