@import "../../../../assets/colors.scss";

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  .form {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 20px;
    border: 0.1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    .logo {
      width: 100px;
      height: 100px;
      overflow: hidden;
      margin: 0 auto;
      img {
        height: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    div {
      display: flex;
      gap: 30px;
    }
    .btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        cursor: pointer;
        color: $pink-color;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .aside-image {
    opacity: 0.4;
    flex: 1;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
