<div class="container">
  <div>
    <div class="header">
      <div class="img">
        <img src="../../../assets/images/logo.png" alt="" />
      </div>
      <div class="salon-info">
        <h3>XTPO</h3>
        <p>Luanda, Angola</p>
      </div>
    </div>
    <div *ngIf="getBooking$ | async as getBooking">
      @for (service of getBooking.Services; track $index) {
      <div class="itens">
        <div class="itens-content">
          <div>
            <h3>{{ service.Service.Nome }}</h3>
            @if (service.Professional) {
            <span>com {{ service.Professional.Nome }}</span>
            }
          </div>
          <div>
            <p>~ {{ service.Service.Time }} mim</p>
            <p>{{ service.Date }}</p>
          </div>
        </div>
        <div>
          <p class="price">{{ service.Service.Price }}kz</p>
        </div>
      </div>
      }
    </div>

    <div class="total">
      <p>Total</p>
      <p>20000kz</p>
    </div>
  </div>
  <div class="button">
    <button [disabled]="step === 4 ? true : false" (click)="continue()">
      Continuar
    </button>
  </div>
</div>
