<div class="container">
  <div>
    <div class="header">
      <div class="img">
        <img src="../../../assets/images/logo.png" alt="" />
      </div>
      <div class="salon-info">
        <h3>XTPO</h3>
        <p>Luanda, Angola</p>
      </div>
    </div>
    <div class="itens">
      <div>
        <h3>Gel Pedicure</h3>
        <p>45min</p>
      </div>
      <div><p class="price">10000kz</p></div>
    </div>
    <div class="itens">
      <div>
        <h3>Gel Pedicure</h3>
        <p>45min</p>
      </div>
      <div><p class="price">10000kz</p></div>
    </div>
    <div class="itens">
      <div>
        <h3>Gel Pedicure</h3>
        <p>45min</p>
      </div>
      <div><p class="price">10000kz</p></div>
    </div>
    <div class="itens">
      <div>
        <h3>Gel Pedicure</h3>
        <p>45min</p>
      </div>
      <div><p class="price">10000kz</p></div>
    </div>
    <div class="total">
      <p>Total</p>
      <p>20000kz</p>
    </div>
  </div>
  <div class="button">
    <button [disabled]="step === 4 ? true : false" (click)="continue()">
      Continuar
    </button>
  </div>
</div>
