<header class="app-header">
  <app-logo routerLink=""></app-logo>
  <nav>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/servicos">Serviços</a></li>
      <li><a routerLink="/contactos">Contacto</a></li>
      <li><a routerLink="/about">Sobre</a></li>
      <li>
        <app-button routerLink="/login" btn-text="Login" variant="outline"
          ><ng-icon name="matLoginOutline"></ng-icon
        ></app-button>
      </li>

      <!-- <li>
        <div routerLink="/login" class="profile">
          <ng-icon name="ionPersonCircleSharp" size="35"></ng-icon>
          <img src="../../../assets/images/salon3.jpg" /> 
        </div>
      </li> -->
    </ul>
  </nav>
</header>
