<header class="app-header">
  <app-logo routerLink=""></app-logo>
  <nav>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/servicos">Serviços</a></li>
      <li><a routerLink="/contactos">Contacto</a></li>
      <li><a routerLink="/about">Sobre</a></li>

      @if (logged) {

      <div (click)="navegate()" class="profile" *ngIf="user$ | async as user">
        @if (user.PhotoUrl) {
        <img
          [src]="'https://localhost:44350/' + user.PhotoUrl"
          alt="User Image"
        />
        } @else {
        <ng-icon name="ionPersonCircleSharp" size="35"></ng-icon>
        }
      </div>

      } @else {
      <li>
        <app-button routerLink="/login" btn-text="Login" variant="outline"
          ><ng-icon name="matLoginOutline"></ng-icon
        ></app-button>
      </li>
      }
    </ul>
  </nav>
</header>
