<app-dashboard-container
  uesrName="Helton"
  userRole="admin"
  pageTitle="Cadastrar Professional"
>
  <div menu-itens>
    <app-menu-itens menuName="Dashboard" routerLink="/administrative/dashboard">
      <ng-icon name="ionBarChart" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens
      menuName="Gerir Professionais"
      routerLink="/manage-professional"
    >
      <ng-icon name="ionPerson" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens menuName="Gerir Serviços" routerLink="/manage-service">
      <ng-icon name="ionDocumentAttach" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens menuName="Gerir Categorias" routerLink="/manage-category">
      <ng-icon name="ionDuplicateOutline" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens menuName="Gerir Marcações" routerLink="/manage-booking">
      <ng-icon name="matBookmarks" icon></ng-icon>
    </app-menu-itens>
  </div>
  <div main-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <app-primary-input
          inputName="firstName"
          formControlName="FirstName"
          type="text"
          label="Primeiro Nome"
          placeholder="Helton"
        >
          <ng-icon name="matPermIdentity"></ng-icon>
        </app-primary-input>
        <app-primary-input
          inputName="lastName"
          formControlName="LastName"
          type="text"
          label="Último Nome"
          placeholder="Evambi"
        >
          <ng-icon name="matPermIdentity"></ng-icon>
        </app-primary-input>
      </div>
      <div>
        <app-primary-input
          inputName="email"
          formControlName="EmailAddress"
          type="email"
          label="Email"
          placeholder="heltonevambi@gmail.com"
        >
          <ng-icon name="matAlternateEmail"></ng-icon>
        </app-primary-input>
        <app-primary-input
          inputName="phone"
          formControlName="PhoneNumber"
          type="number"
          label="Telefone"
          placeholder="929419140"
        >
          <ng-icon name="matPhone"></ng-icon>
        </app-primary-input>
      </div>

      <div>
        <app-primary-input
          inputName="idCard"
          formControlName="IdCard"
          type="text"
          label="Número do Bilhete"
          placeholder="004034LA040"
        >
          <ng-icon name="ionCard"></ng-icon>
        </app-primary-input>
        <div>
          <app-primary-input
            inputName="Photo"
            type="file"
            label="Foto"
            [fileName]="fileName"
            (input)="onFileSelected($event)"
          >
            <ng-icon name="matPhoto"></ng-icon>
          </app-primary-input>
        </div>
      </div>
      <div>
        <div class="time">
          <label (click)="openModal()">Adicionar Horário: </label>

          <div class="select-time">
            <div *ngIf="time$ | async as times">
              @for (time of times; track time.TimeId) {
              <p>{{ time.Hour }}h{{ time.Minute }}</p>
              }
            </div>
          </div>
        </div>

        <div class="select-wrapper" *ngIf="categories$ | async as categories">
          <select formControlName="CategoryId">
            <option value="">Escolha a categoria</option>
            @for (category of categories; track category.CategoryId) {
            <option [value]="category.CategoryId">{{ category.Name }}</option>
            }
          </select>
        </div>
      </div>
      <div class="btn">
        <app-button
          btn-text="Cadastrar"
          variant="login"
          type="submit"
        ></app-button>
      </div>
    </form>
  </div>
</app-dashboard-container>
<app-modal
  [visibility]="modalVisibility"
  (closeModal)="closeModal()"
  title="Escolha a hora disponível"
>
  <div class="container" *ngIf="timeProfessional$ | async as times">
    @for (time of times; track time.TimeId ) {
    <div class="time-card" (click)="addTime(time)">
      {{ time.Hour }}h{{ time.Minute }}
    </div>
    }
  </div>
</app-modal>
