<app-dashboard-container
  uesrName="Helton"
  userRole="admin"
  pageTitle="Lista de Utilizadores"
>
  <div menu-itens>
    <app-menu-itens menuName="Dashboard" routerLink="/dashboard">
      <ng-icon name="ionBarChart" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens
      menuName="Gerir Adminstrativos"
      routerLink="/manage-administrative"
    >
      <ng-icon name="ionPerson" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens menuName="Gerir Utilizadores" routerLink="/user/list">
      <ng-icon name="ionPeople" icon></ng-icon>
    </app-menu-itens>
  </div>
  <div main-content>
    <div class="table" *ngIf="users$ | async as users">
      <app-table>
        <th th>Nome</th>
        <th th>Email</th>
        <th th>Telefone</th>
        <th th>Bilhete</th>
        <th th>Estado</th>
        <th th></th>
        @for (user of users; track $index) {
        <tr tr *ngIf="user.Role === 'user'">
          <td>
            <div class="user-info">
              <div class="user-image">
                @if (user.PhotoUrl) {
                <img
                  [src]="'https://localhost:44350/' + user.PhotoUrl"
                  alt="User Image"
                />
                } @else {

                <ng-icon
                  name="ionPersonCircleOutline"
                  size="52"
                  color="#9a9a9a"
                ></ng-icon>

                }
              </div>

              <span>{{ user.FirstName + " " + user.LastName }}</span>
            </div>
          </td>
          <td>{{ user.EmailAddress }}</td>
          <td>{{ user.PhoneNumber }}</td>
          <td>{{ user.IdCard }}</td>
          <td>
            <span class="status" [class]="user.Status">{{
              getStatus(user.Status)
            }}</span>
          </td>
          <td>
            <span href="#" class="action-link" (click)="openModal(user.UserId)"
              >Ação</span
            >
          </td>
        </tr>
        }
      </app-table>
    </div>

    <!-- MODAL -->

    <app-modal
      [visibility]="modalVisibility"
      (closeModal)="closeModal()"
      title="Escolha a ação"
    >
      <app-action-card action="delete" entity="Utilizador"></app-action-card>
      <app-action-card
        action="blocking"
        entity="Utilizador"
        (click)="updateStatus('blocked')"
      ></app-action-card>
      <app-action-card
        action="confirm"
        entity="Utilizador"
        (click)="updateStatus('active')"
      ></app-action-card>
    </app-modal>
  </div>
</app-dashboard-container>
