<div class="container">
  <header>
    <div class="logo">XPTO</div>
    <div class="profile-info">
      <ng-icon name="ionSettingsSharp" color="#000000" size="25" />
      <div class="name">
        <span class="info-name">{{ uesrName }}</span>
        <span class="info-role">{{ userRole }}</span>
      </div>
      <div class="img">
        <img src="../../../../assets/images/facial-tratament.jpg" alt="" />
      </div>
    </div>
  </header>
  <aside class="sidebar">
    <div class="menu">
      <ng-content select="[menu-itens]"></ng-content>
    </div>
    <div class="logout">
      <ng-icon name="ionLogOutOutline" size="24" /><span>Logout</span>
    </div>
  </aside>
  <main class="main-content">
    <h1>{{ pageTitle }}</h1>
    <ng-content select="[main-content]"></ng-content>
  </main>
</div>
