<header>
  <ng-icon name="ionArrowBackOutline" size="28" class="icon" />
  <ng-icon name="ionCloseOutline" size="28" class="icon" />
</header>
<main>
  <div class="step-navegation">
    <span [class]="stepNumber >= 1 ? 'step-passed' : ''">Serviço > </span
    ><span [class]="stepNumber >= 2 ? 'step-passed' : ''">Profissional > </span
    ><span [class]="stepNumber >= 3 ? 'step-passed' : ''">Horarário > </span
    ><span [class]="stepNumber >= 4 ? 'step-passed' : ''">Confirmar</span>
  </div>
  <h1>{{ stepTitle }}</h1>
  <div class="container">
    <ng-content></ng-content>
    <div class="summary">
      <app-booking-summary [step]="stepNumber"></app-booking-summary>
    </div>
  </div>
</main>
