<app-dashboard-container
  uesrName="Helton"
  userRole="admin"
  pageTitle="Dashboard"
>
  <div menu-itens>
    <app-menu-itens menuName="Dashboard" routerLink="/administrative/dashboard">
      <ng-icon name="ionBarChart" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens
      menuName="Gerir Professionais"
      routerLink="/manage-professional"
    >
      <ng-icon name="ionPerson" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens menuName="Gerir Serviços" routerLink="/manage-service">
      <ng-icon name="ionDocumentAttach" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens menuName="Gerir Categorias" routerLink="/manage-category">
      <ng-icon name="ionDuplicateOutline" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens
      menuName="Listar de Marações"
      routerLink="/administative/booking/list"
    >
      <ng-icon name="matBookmarks" icon></ng-icon>
    </app-menu-itens>
  </div>
  <div main-content>
    <div class="card">
      <app-dashboard-card titlte="Valor Faturado" [value]="50">
        <ng-icon name="ionCashOutline" size="58" titleIcon></ng-icon>
        <ng-icon
          name="ionTrendingUpSharp"
          size="60"
          color="#3d9245"
          valueIcon
        ></ng-icon
      ></app-dashboard-card>
      <app-dashboard-card titlte="Utilizadores Activos" [value]="50">
        <ng-icon name="ionPeople" size="58" titleIcon></ng-icon>
        <ng-icon
          name="ionTrendingDownSharp"
          size="60"
          color="#c51212"
          valueIcon
        ></ng-icon
      ></app-dashboard-card>
      <app-dashboard-card titlte="Administrativos" [value]="3">
        <ng-icon name="ionPerson" size="58" titleIcon></ng-icon>
        <ng-icon
          name="ionTrendingUpSharp"
          size="60"
          color="#3d9245"
          valueIcon
        ></ng-icon
      ></app-dashboard-card>
    </div>
    <h3>Top 5 Profissionais mais solicitado</h3>
    <div class="top-requests">
      <div class="top-professionais">
        <app-table>
          <th th>Nome</th>
          <th th>Categotia</th>
          <th th>Solicitações</th>
          <tr tr>
            <td>
              <div class="user-info">
                <div class="user-image">
                  <img
                    src="../../../../../assets/images/gallery1.jpg"
                    alt="User Image"
                  />
                </div>

                <span>Maria Antonio</span>
              </div>
            </td>
            <td>Cabelo</td>
            <td>7</td>
          </tr>
          <tr tr>
            <td>
              <div class="user-info">
                <div class="user-image">
                  <img
                    src="../../../../../assets/images/person2.jpg"
                    alt="User Image"
                  />
                </div>

                <span>Maria Antonio</span>
              </div>
            </td>
            <td>Cabelo</td>
            <td>3</td>
          </tr>
          <tr tr>
            <td>
              <div class="user-info">
                <div class="user-image">
                  <img
                    src="../../../../../assets/images/salon2.jpg"
                    alt="User Image"
                  />
                </div>

                <span>Maria Antonio</span>
              </div>
            </td>
            <td>Cabelo</td>
            <td>92</td>
          </tr>
          <tr tr>
            <td>
              <div class="user-info">
                <div class="user-image">
                  <img
                    src="../../../../../assets/images/salon4.jpg"
                    alt="User Image"
                  />
                </div>

                <span>Maria Antonio</span>
              </div>
            </td>
            <td>Cabelo</td>
            <td>7</td>
          </tr>
          <tr tr>
            <td>
              <div class="user-info">
                <div class="user-image">
                  <img
                    src="../../../../../assets/images/salon5.jpg"
                    alt="User Image"
                  />
                </div>

                <span>Maria Antonio</span>
              </div>
            </td>
            <td>Cabelo</td>
            <td>9</td>
          </tr>
        </app-table>
      </div>
      <div class="top-services">
        <div class="card">
          <h4>Serviço mais solicitado</h4>
          <div>
            <span>Corte de Cabelo</span>
            <ng-icon name="ionArrowUp" color="#3d9245" size="60"></ng-icon>
          </div>
        </div>
        <div class="card">
          <h4>Serviço menos solicitado</h4>
          <div>
            <span>Manicure</span>
            <ng-icon name="ionArrowDown" color="#c51212" size="60"></ng-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-dashboard-container>
