<app-dashboard-container
  uesrName="Helton"
  userRole="admin"
  pageTitle="Dashboard"
>
  <div menu-itens>
    <app-menu-itens menuName="Dashboard" routerLink="/administrative/dashboard">
      <ng-icon name="ionBarChart" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens
      menuName="Gerir Professionais"
      routerLink="/manage-professional"
    >
      <ng-icon name="ionPerson" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens menuName="Gerir Serviços" routerLink="/manage-service">
      <ng-icon name="ionDocumentAttach" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens menuName="Gerir Categorias" routerLink="/manage-category">
      <ng-icon name="ionDuplicateOutline" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens
      menuName="Listar de Marações"
      routerLink="/administative/booking/list"
    >
      <ng-icon name="matBookmarks" icon></ng-icon>
    </app-menu-itens>
  </div>
  <div main-content>
    <div class="card">
      <app-dashboard-card
        titlte="Valor Faturado Hoje"
        [value]="revenue"
        (click)="showRevenueOptions()"
      >
        <ng-icon name="ionCashOutline" size="58" titleIcon></ng-icon>
        <ng-icon
          name="ionTrendingUpSharp"
          size="60"
          color="#3d9245"
          valueIcon
        ></ng-icon>
      </app-dashboard-card>

      @if (revenueOptions) {
      <div class="revenue">
        <div (click)="getRevenueForToday()">Receita de Hoje</div>
        <div (click)="getRevenueForYesterday()">Receita de Ontem</div>
        <div (click)="getRevenueForCurrentMonth()">Receita deste Mês</div>
        <div (click)="getRevenueForLastMonth()">Receita do Mês passado</div>
      </div>
      }

      <app-dashboard-card titlte="Utilizadores Activos" [value]="50">
        <ng-icon name="ionPeople" size="58" titleIcon></ng-icon>
        <ng-icon
          name="ionTrendingDownSharp"
          size="60"
          color="#c51212"
          valueIcon
        ></ng-icon
      ></app-dashboard-card>
      <app-dashboard-card titlte="Administrativos" [value]="3">
        <ng-icon name="ionPerson" size="58" titleIcon></ng-icon>
        <ng-icon
          name="ionTrendingUpSharp"
          size="60"
          color="#3d9245"
          valueIcon
        ></ng-icon
      ></app-dashboard-card>
    </div>
    <h3>Top 5 Profissionais mais solicitado</h3>
    <div class="top-requests">
      <div
        class="top-professionais"
        *ngIf="topProfessionals$ | async as professionals"
      >
        <app-table>
          <th th>Nome</th>
          <th th>Categotia</th>
          <th th>Solicitações</th>
          @for (professional of professionals; track $index) {
          <tr tr>
            <td>
              <div class="user-info">
                <div class="user-image">
                  <img
                    [src]="'https://localhost:44350/' + professional.PhotoUrl"
                    alt="User Image"
                  />
                </div>

                <span
                  >{{ professional.FirstName }}
                  {{ professional.LastName }}</span
                >
              </div>
            </td>
            <td>{{ professional.Category.Name }}</td>
            <td>7</td>
          </tr>
          }
        </app-table>
      </div>
      <div class="top-services">
        <div class="card">
          <h4>Serviço mais solicitado</h4>
          <div>
            <span *ngIf="mostRequestedService$ | async as mostService">{{
              mostService.Name
            }}</span>
            <ng-icon name="ionArrowUp" color="#3d9245" size="60"></ng-icon>
          </div>
        </div>
        <div class="card">
          <h4>Serviço menos solicitado</h4>
          <div>
            <span *ngIf="leastRequestedService$ | async as leastService">{{
              leastService.Name
            }}</span>
            <ng-icon name="ionArrowDown" color="#c51212" size="60"></ng-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-dashboard-container>
