<app-dashboard-container
  uesrName="Helton"
  userRole="admin"
  pageTitle="Lista de Administrativos"
>
  <div menu-itens>
    <app-menu-itens menuName="Dashboard" routerLink="/dashboard">
      <ng-icon name="ionBarChart" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens
      menuName="Gerir Adminstrativos"
      routerLink="/manage-administrative"
    >
      <ng-icon name="ionPerson" icon></ng-icon>
    </app-menu-itens>
    <app-menu-itens menuName="Gerir Utilizadores" routerLink="/user/list">
      <ng-icon name="ionPeople" icon></ng-icon>
    </app-menu-itens>
  </div>
  <div main-content>
    <div class="table" *ngIf="administatives$ | async as administatives">
      <app-table>
        <th th>Nome</th>
        <th th>Email</th>
        <th th>Telefone</th>
        <th th>Bilhete</th>
        <th th>Estado</th>
        <th th></th>
        @for (administative of administatives; track $index) {
        <tr tr *ngIf="administative.Role === 'administrative'">
          <td>
            <div class="user-info">
              <div class="user-image">
                @if (administative.PhotoUrl) {
                <img
                  [src]="'https://localhost:44350/' + administative.PhotoUrl"
                  alt="User Image"
                />
                } @else {

                <ng-icon
                  name="ionPersonCircleOutline"
                  size="52"
                  color="#9a9a9a"
                ></ng-icon>

                }
              </div>

              <span>{{
                administative.FirstName + " " + administative.LastName
              }}</span>
            </div>
          </td>
          <td>{{ administative.EmailAddress }}</td>
          <td>{{ administative.PhoneNumber }}</td>
          <td>{{ administative.IdCard }}</td>
          <td>
            <span class="status" [class]="administative.Status">{{
              getStatus(administative.Status)
            }}</span>
          </td>
          <td>
            <span
              href="#"
              class="action-link"
              (click)="openModal(administative.UserId)"
              >Ação</span
            >
          </td>
        </tr>
        }
      </app-table>
    </div>

    <!-- MODAL -->

    <app-modal
      [visibility]="modalVisibility"
      (closeModal)="closeModal()"
      title="Escolha a ação"
    >
      <app-action-card action="delete" entity="Administativo"></app-action-card>
      <app-action-card
        action="blocking"
        entity="Administativo"
        (click)="updateStatus('block')"
      ></app-action-card>
      <!-- <app-action-card
        action="confirm"
        entity="Administativo"
      ></app-action-card> -->
    </app-modal>
  </div>
</app-dashboard-container>
