@import "../../../assets/colors.scss";

.btn {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: $destac-color;
  display: flex;
  align-items: center;
  gap: 10px;

  &.login {
    background-color: $primary-color;
    color: $white-color;
    padding: 10px 40px;
  }

  &.outline {
    border: 1px solid $white-color;
    background-color: $primary-color;
    color: $white-color;
    padding: 7px 10px;
  }

  &.primary {
    padding: 15px;
  }
  &.secundary {
    padding: 18px;
  }
  &.pink {
    background-color: $pink-color;
    font-size: 19px;
  }
  &.full {
    width: 100%;
  }
}
