<app-booking stepTitle="Selecionar Serviços" [stepNumber]="1">
  <div class="container">
    <div class="select-wrapper" *ngIf="categories$ | async as categories">
      <form>
        <select
          name="category"
          #category
          (change)="getServices(category.value)"
        >
          <option value="" selected hidden>Escolha a categoria</option>
          @for (category of categories; track category.CategoryId) {
          <option [value]="category.CategoryId">{{ category.Name }}</option>
          }
        </select>
      </form>
    </div>

    <div class="content" *ngIf="services$ | async as services">
      @for (service of services; track $index) {
      <div class="card" (click)="onClick(service)">
        <div>
          <h3>{{ service.Name }}</h3>
          <p>{{ service.EstimatedTime }} mim</p>
          <p>{{ service.Description }}</p>
          <p class="price">{{ service.Price }}Kz</p>
        </div>
        <ng-icon name="ionAddCircle" color="#9a9a9a" size="30" />
      </div>
      }
    </div>
  </div>
</app-booking>
