<app-booking stepTitle="Selecionar Serviços" [stepNumber]="1">
  <div class="container">
    <h2 class="category"></h2>
    <div class="content">
      @for (service of services; track $index) {
      <div class="card" (click)="onClick(service)">
        <div>
          <h3>{{ service.Nome }}</h3>
          <p>{{ service.Time }} mim</p>
          <p>{{ service.Description }}</p>
          <p class="price">{{ service.Price }}Kz</p>
        </div>
        <ng-icon name="ionAddCircle" color="#9a9a9a" size="30" />
      </div>
      }
    </div>
  </div>
</app-booking>
