<app-booking stepTitle="Selecionar Serviços" [stepNumber]="1">
  <div class="container">
    <h2 class="category">Unhas</h2>
    <div class="content">
      <div class="card">
        <div>
          <h3>Gel Pedicure</h3>
          <p>45min</p>
          <p>Um gel muito bom para a sua saúde</p>
          <p class="price">10000kz</p>
        </div>
        <ng-icon name="ionAddCircle" color="#9a9a9a" size="30" />
      </div>
      <div class="card">
        <div>
          <h3>Gel Pedicure</h3>
          <p>45min</p>
          <p>Um gel muito bom para a sua saúde</p>
          <p class="price">10000kz</p>
        </div>
        <ng-icon name="ionAddCircle" color="#9a9a9a" size="30" />
      </div>
      <div class="card">
        <div>
          <h3>Gel Pedicure</h3>
          <p>45min</p>
          <p>Um gel muito bom para a sua saúde</p>
          <p class="price">10000kz</p>
        </div>
        <ng-icon name="ionAddCircle" color="#9a9a9a" size="30" />
      </div>
    </div>
    <h2 class="category">Cabelo</h2>
    <div class="content">
      <div class="card">
        <div>
          <h3>Gel Pedicure</h3>
          <p>45min</p>
          <p>Um gel muito bom para a sua saúde</p>
          <p class="price">10000kz</p>
        </div>
        <ng-icon name="ionAddCircle" color="#9a9a9a" size="30" />
      </div>
      <div class="card">
        <div>
          <h3>Gel Pedicure</h3>
          <p>45min</p>
          <p>Um gel muito bom para a sua saúde</p>
          <p class="price">10000kz</p>
        </div>
        <ng-icon name="ionAddCircle" color="#9a9a9a" size="30" />
      </div>
      <div class="card">
        <div>
          <h3>Gel Pedicure</h3>
          <p>45min</p>
          <p>Um gel muito bom para a sua saúde</p>
          <p class="price">10000kz</p>
        </div>
        <ng-icon name="ionAddCircle" color="#9a9a9a" size="30" />
      </div>
    </div>
  </div>
</app-booking>
