<app-header></app-header>
<main>
  <section class="hero-section">
    <div class="hero-content">
      <div class="hero-img">
        <img src="../../../assets/images/here-image.jpg" alt="hero image" />
      </div>
      <div class="hero-text">
        <h1>Reinvente Sua Beleza Hoje</h1>
        <p>
          Entre na felicidade serena e saia sentindo-se linda no paraíso do
          salão de Luanda.
        </p>
        <app-button
          btn-text="Book Now"
          variant="secundary"
          color="pink"
        ></app-button>
      </div>
    </div>
  </section>
  <section class="destac-section">
    Você está procurando por um salão de beleza de primeira qualidade em Luanda,
    LUA? Não procure mais do que Karapinha XPTO. Nossa equipe experiente oferece
    uma ampla gama de serviços de beleza para ajudá-lo a se sentir e parecer o
    melhor possível. Desde estilização de cabelo até cuidados com a pele, nós
    temos tudo o que você precisa. Agende um horário conosco hoje mesmo e sinta
    a diferença no Karapinha XPTO.
  </section>
  <section class="category-section">
    <h1>Salão de Beleza</h1>
    <div>
      <app-card-category
        cardImage="../../../assets/images/hair-styling.jpg"
        cardTitle="Estilização de Cabelo"
        cardText="Transforme seu visual com nossos serviços especializados de estilização e coloração de cabelo. Experimente um corte de cabelo moderno ou teste uma nova cor que combine com seu estilo e personalidade."
      ></app-card-category>
      <app-card-category
        cardImage="../../../assets/images/facial-tratament.jpg"
        cardTitle="Tratamentos Faciais"
        cardText="Desfrute dos nossos rejuvenescedores tratamentos faciais que deixarão sua pele renovada e radiante. Nossos especialistas atenderão às suas necessidades únicas de cuidados com a pele."
      ></app-card-category>
      <app-card-category
        cardImage="../../../assets/images/nail.jpg"
        cardTitle="Cuidados com as  Unhas"
        cardText="Mime suas mãos e pés com nossos serviços profissionais de cuidados com as unhas. Desde manicures e pedicures básicos até arte nas unhas intricadas, nós temos tudo o que você precisa."
      ></app-card-category>
    </div>
  </section>
</main>
