@import "../../../assets/colors.scss";
@import "../../../variables/styles.variables.scss";

main {
  background-color: $secundary-color;
  color: #ffffff;
  h1 {
    font-size: 45px;
  }
  .hero-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;

    .hero-content {
      width: 100%;
      padding: 160px $pedding-horizontal;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 100px;
      div {
        flex: 1;
        &.hero-img {
          height: 600px;
          img {
            width: 100%;
            height: 100%;
            border-radius: $radius;
          }
        }
        &.hero-text {
          display: flex;
          flex-direction: column;
          gap: 30px;
          h1 {
            font-size: 75px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
  }

  .destac-section {
    padding: 200px $pedding-horizontal;
    padding-right: 300px;
    font-size: 30px;
  }
  .category-section {
    padding: 70px $pedding-horizontal;

    div {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      margin: 20px 0;
    }
  }

  .carousel-section {
    overflow: hidden;
  }

  .gallery-section {
    padding: 200px $pedding-horizontal;
    display: flex;
  }

  .about-section {
    @extend .hero-section;
    background-color: $secundary-color;
    .about-title {
      font-size: 300;
    }
    .about-p {
      font-weight: 300;
    }
  }

  .package-section {
    padding: $pedding-horizontal;

    div {
      display: flex;
      margin: 20px 0;
    }
  }

  .location-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px $pedding-horizontal;

    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    h2 {
      font-size: 30px;
    }
    p {
      font-size: 15px;
    }
    .img-location {
      width: 600px;
      height: 400px;
      img {
        width: 100%;
        border-radius: $radius;
      }
    }
  }

  .book-section {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(29, 28, 28, 0.5)),
      url("../../../assets/images/beaty-salon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    p {
      font-size: 22px;
    }
  }
}
