$primary-color: #2a242e;
$secundary-color: #151316;
$destac-color: #111827;
$pink-color: #e32bf1;
$white-color: #ffffff;
$gray-color: #9a9a9a;
$sidebar-color: #f0edf4;
$dashboard-body: #f9f9f9;
$ligth-gray: #d9d9d9;
$dark-gray: #565656;
$green-color: #3d9245;
$red-color: #c51212;
