<app-booking stepTitle="Selecionar Profissional" [stepNumber]="2">
  <div class="container">
    <div class="content" *ngIf="getBooking$ | async as getBooking">
      @for (service of getBooking.Services; track service.Service.ServiceId) {
      <div class="card">
        <div>
          <h3>
            {{ service.Service.Nome }}
            @if (service.Professional) {
            <span
              >com {{ service.Professional.FirstName }}
              {{ service.Professional.LastName }}</span
            >
            }
          </h3>
          <p>{{ service.Service.EstimatedTime }} min</p>
          <p>{{ service.Service.Description }}</p>
          <div class="select" (click)="openModal(service.Service.ServiceId)">
            <ng-icon name="ionPersonAdd" />
            @if (service.Professional) {
            <p>
              {{ service.Professional.FirstName }}
              {{ service.Professional.LastName }}
            </p>
            } @else {
            <p>Selecionar Profissional</p>
            }
            <ng-icon name="ionChevronDown" />
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</app-booking>
<app-modal
  [visibility]="modalVisibility"
  (closeModal)="closeModal()"
  title="Corte de Cabelo"
>
  <div class="professonais" *ngIf="professionals$ | async as professionals">
    @for (professional of professionals; track professional.ProfissionalId) {
    <div class="professional-card" (click)="addProfessional(professional)">
      <div class="img">
        <img [src]="professional.PhotoUrl" alt="" />
      </div>
      <p>{{ professional.FirstName }} {{ professional.LastName }}</p>
    </div>
    }
  </div>
</app-modal>
