<app-booking stepTitle="Selecionar Profissional" [stepNumber]="2">
  <div class="container">
    <div class="content">
      <div class="card">
        <div>
          <h3>Gel Pedicure</h3>
          <p>45min</p>
          <p>Um gel muito bom para a sua saúde</p>
          <div class="select">
            <ng-icon name="ionPersonAdd" />
            <p>Selecionar Profissional</p>
            <ng-icon name="ionChevronDown" />
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h3>Gel Pedicure</h3>
          <p>45min</p>
          <p>Um gel muito bom para a sua saúde</p>
          <div class="select">
            <ng-icon name="ionPersonAdd" />
            <p>Selecionar Profissional</p>
            <ng-icon name="ionChevronDown" />
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h3>Gel Pedicure</h3>
          <p>45min</p>
          <p>Um gel muito bom para a sua saúde</p>
          <div class="select">
            <ng-icon name="ionPersonAdd" />
            <p>Selecionar Profissional</p>
            <ng-icon name="ionChevronDown" />
          </div>
        </div>
      </div>
    </div>
  </div>
</app-booking>
