<app-booking stepTitle="Selecionar Horário" [stepNumber]="3">
  <div class="container">
    <div class="content" *ngIf="getBooking$ | async as getBooking">
      @for (service of getBooking.Services; track service.Service.ServiceId) {
      <div class="card">
        <div>
          <h3>
            {{ service.Service.Name }}
            @if (service.Professional) {
            <span
              >com {{ service.Professional.FirstName }}
              {{ service.Professional.LastName }}</span
            >
            }
          </h3>
          <p>{{ service.Service.EstimatedTime }} min</p>
          <p>{{ service.Service.Description }}</p>
          <div class="select-container">
            <div class="select">
              <label for="date">Selecionar a Data</label>
              <input
                type="date"
                name="ola"
                id="date"
                [value]="service.Date"
                [value]="service.Date"
                [min]="today"
                #date
                (change)="addDate(service.Service.ServiceId, date.value)"
              />
            </div>
            <div
              class="select-time"
              (click)="openModal(service.Service.ServiceId)"
            >
              <ng-icon name="ionTimeOutline" />
              @if (service.Time) {
              {{ service.Time.Hour }}h{{ service.Time.Minute }}
              } @else {
              <p>Selecionar a Hora</p>
              }
              <ng-icon name="ionChevronDown" />
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</app-booking>
<app-modal
  [visibility]="modalVisibility"
  (closeModal)="closeModal()"
  title="Escolha a hora disponível"
>
  <div class="container" *ngIf="getBooking$ | async as getBooking">
    @for (service of getBooking.Services; track service.Service.ServiceId) { @if
    (service.Service.ServiceId == serviceId) { @for (time of
    service.Professional?.Times; track time.TimeId) {
    <div class="time-card" (click)="addTime(time)">
      {{ time.Hour }}h{{ time.Minute }}
    </div>
    } } }
  </div>
</app-modal>
